.nav {
    display: flex;
    justify-content: space-around;
    background: #eee;
    height: .4rem;
    line-height: .4rem;
}
.nav>.nav-item {
    font-size: .14rem;
    color: #666;
    text-decoration: none;
    font-weight: 0;
}
.nav>.active{
    color: red;
}